*{
	color: #fff;
	margin: 0px;
	padding: 0px;
}
.het{
	color: black;
}
body{
	background: url('../here111/8.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: new time roman;
}
.form-container{border: 0px solid #fff; padding: 50px 60px; margin-top: 20vh;
-webkit-box-shadow: 0px -1px 9px 20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 9px 20px rgba(0,0,0,0.75);
box-shadow: 0px -1px 9px 20px rgba(0,0,0,0.75);
}
.container{border: 0px solid #fff; padding: 50px 60px; margin-top: 20vh;
-webkit-box-shadow: 0px -1px 9px 20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 9px 20px rgba(0,0,0,0.75);
box-shadow: 0px -1px 9px 20px rgba(0,0,0,0.75);
}